{% extends "admin/admin_index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add feature</title>
</head>
<body>
{% block content %}
<div style="margin-top: 20px;">
    <div class="mb-3">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="New feature"
        name="title">
    </div>
    <div class="mb-3">
        <label for="inputText" class="form-label">Text</label>
        <textarea class="form-control" id="inputText" rows="3" name="text"></textarea>
    </div>
    <div class="mb-3">
        <p>Tags: <span id="tags"></span></p>
        <label for="inputTag" class="form-label">Tag</label>
        <input type="text" id="inputTag" placeholder="MyTag" class="form-control">
        <button class="btn btn-secondary" id="add_tag" style="margin-top:10px;">Add tag</button>
    </div>
    <button type="button" class="btn btn-secondary" id="save">Save</button>
</div>

<script src="{{ url_for('static', path='/js/requests.js') }}"></script>
<script>
    let tags = [];
    let tag_btn = document.getElementById('add_tag');
    let span_tags = document.getElementById('tags');

    tag_btn.addEventListener('click', function(){
        let input_tag = document.getElementById('inputTag'); 
        if(input_tag.value.includes(',')){
            alert('Wrong tag format');
            return
        }
        tags.push(input_tag.value);
        input_tag.value = '';
        span_tags.textContent = tags.join(', ');
         
        this.blur();
    })


    let btn = document.getElementById('save');
    btn.addEventListener('click', function(){
        let title = document.getElementsByName('title')[0]
        let text = document.getElementsByName('text')[0]

        if (title.value != '' && text.value != ''){
            data = {
                'title': title.value,
                'text': text.value,
                'tags': tags
            }

            send_request(JSON.stringify(data), '/admin/features/add_feature')
            window.location.href = '/admin/features'
        }else{
            alert('Some fields are empty');
        }
        this.blur();

    })
</script>
{% endblock %}
</body>
</html>