{% extends "admin/admin_index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Features</title>
</head>
<body>
{% block content %}
<div style="margin-top: 20px;">
    <h1 class="text-center">Features list</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">tags</th>
            <th scope="col">Option</th>
        </tr>
        </thead>
        <tbody>
        {% for feature in instances %}
        <tr>
            <th scope="row"><a href="{{ url_for('feature_detail', id=feature._id) }}" class="link-dark">{{ feature._id }}</a>
            </th>
            <th><a href="{{ url_for('feature_detail', id=feature._id) }}" class="link-dark">{{ feature.title }}</a></th>
            <th><a href="{{ url_for('feature_detail', id=feature._id) }}" class="link-dark">{{ feature.tags|join(', ') }}</a></th>
            <th><a href="{{ url_for('delete_feature', id=feature._id) }}" class="link-blue">Delete feature</a></th>
        </tr>
        {% else %}
        <tr>
            <th>No any features yet</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_feature_page') }}" class="btn btn-secondary">Add feature</a>
</div>
{% endblock %}
</body>
</html>