{% extends 'admin/admin_index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
{% block content %}
<div style="margin-top: 20px;">
    <h1 class="text-center">Users list</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">email</th>
            <th scope="col">username</th>
            <th scope="col">is_admin</th>
        </tr>
        </thead>
        <tbody>
        {% for user in instances %}
            {% if user.username == request.session.user.username %}
                <tr>
                    <th scope="row"><a href="{{ url_for('user_detail', id=user._id) }}" class="link-dark">{{ user._id }}</a></th>
                    <th><a href="{{ url_for('user_detail', id=user._id) }}" class="link-dark">{{ user.email }}</a></th>
                    <th><a href="{{ url_for('user_detail', id=user._id) }}" class="link-dark">{{ user.username }}</a></th>
                    <th><a href="{{ url_for('user_detail', id=user._id) }}" class="link-dark">{{ user.is_admin }}</a></th>
                </tr>
            {% else %}
                <tr>
                    <th scope="row">{{ user._id }}</th>
                    <th>{{ user.email }}</th>
                    <th>{{ user.username }}</th>
                    <th>{{ user.is_admin }}</th>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <th>No any users yet</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
</body>
</html>